@import "palette";

nav {
  font-weight: 400;
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  
  .nav-left,
  .nav-right {
    .expand,
    .link {
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: left;
    
      a {
        color: $primary-color-text;
        text-decoration: none
      }
    }
    
    .expand {
      .content {
        a {
          color: $secondary-text-color;
        }
      }
      
      .highlight {
        color: $accent-color;
        font-weight: 500;
      }
        
      .item,
      .heading {
        position: relative;
        padding: 1em 1em;
        min-width: 100px;
        white-space: nowrap;
        font-weight: 200;
      }
      
      .heading {
        font-weight: bold;
      }
      
      .item:hover,
      .expand:hover {
        background-color: $primary-color-light;
      }
      
      >.content {
        position: absolute;
        top: 100%;
        min-width: 100%;
        font-size: 0.8em;
        padding: .25em 0;
        color: $primary-text-color;
        border: $divider-color 1px solid;
        border-top: 0px;
        background-color: $primary-color-text;
        box-shadow: 0 2px 10px $shadow-down-two;
        -webkit-transition: opacity 0.3s, visibility 0s;
                transition: opacity 0.3s, visibility 0s;
      }
      
      .expand {
        width: 100%;
        position: relative;
        padding: 0;
        white-space: nowrap;
        font-weight: lighter;
        font-size: 1em;
        
        >.content {
          font-size: 1em;
          min-width: initial;
          border-top: 1px solid $divider-color;
          margin-top: -0.25em;
        }
        
        .content {
          position: absolute;
          top: 0;
        }
        
        .title {
          position: relative;
          left: 0;
          right: 0;
          min-width: 100px;
          font-size: 1em;
          padding: 1em 1em;
        }
      }
    }
    
    .expand:hover {
      >.content {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s, 0s;
                transition-delay: 0s, 0s;
      }
    }
  
    >.link,
    >.expand {
      .title {
        position: relative;
        left: 0;
        right: 0;
        padding: 0.5em 0.5em;
        font-size: 1.3em;
        z-index: 0;
      }
      
      >a {
        .title {
          border-top: 4px transparent solid;
          border-bottom: 4px transparent solid;
          padding: .5em .75em;
        }
      }
    }
    
    >.link:hover,
    >.expand:hover {
      >a {
        .title {
          background-color: #303f9f;
          border-top: 4px transparent solid;
          border-bottom: 4px $accent-color solid;
        }
      }
    }
  }
  
  .nav-left {
    .expand {
      .expand {
        .content {
          left: 100%;
        }
      }
    }
  }
  
  .nav-right {
    .expand {
      .expand {
        .content {
          left: -100%;
        }
      }
    }
  }
}
